<!-- views/pages/secure/contacts.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
</head>
<body>
  <h1>Contacts</h1>
  
  <ul>
    <% contacts.forEach(function(contact) { %>
      <li><%= contact.name %> - <%= contact.email %></li>
    <% }); %>
  </ul>
  
  <a href="/logout">Logout</a>
</body>
</html>