<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<!-- About me section -->
<main>
  <div class="aboutme">
    <img src="/public/assets/posh.png" alt="Profile Picture">
    <h1>About Me</h1>
    <p>Hello! My name is Andrew Couture and I am an aspiring Software Engineer.</p>
    </br></br>
    <p>I am currently in school for Software Engineering at Centennial College. 
    What I enjoy about coding is the continuous ability to learn and never
     having complete knowledge. </p>
    </br>
    <p>I look forward to a career in Software Engineering and am currently seeking out opportunities</p>
  </br>
  </br>
  <!-- link to resume -->
    <p>Open my Resume Here<a href="/public/assets/Andrew-Couture-Resume.pdf"></br>PDF Resume</a></p>
  
  </div>


</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>