<!DOCTYPE html>
<html lang="en">
<head>
  <% include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <% include('../../partials/header'); %>
</header>

<form action="/delete/<%= contact._id %>" method="POST">
  <button type="submit" class="btn btn-danger">Delete</button>
  <a href="/secure/contacts" class="btn btn-secondary">Cancel</a>
</form>

</body>
</html>