<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="projects">
    <h1>Projects</h1>
    <p>Here are some of my previous projects</p>
  </div>

  <!-- project panels -->
  <div class="project-list">
    <div class="project">
      <img src="/public/assets/project1.png" alt="Project 1">
      <h2>Project 1 - To Do List</h2>
      <p>This was a project done following a YouTube tutorial to learn how to make a clean looking To Do List.</p>
      <p>My goals for the project was to learn how to store list information on the client side and accept inputs.</p>
    </div>
    
    <div class="project">
      <img src="/public/assets/project 2.png" alt="Project 2">
      <h2>Project 2 - Centennial Course Evaluation</h2>
      <p>This was a project to work with field entry - The example we used to practice was to build a basic one for Centennial Course Evaluation.</p>
      <p>The goals of this project was to learn the basics of data entry.</p>
    </div>
    
    <div class="project">
      <img src="/public/assets/project 3.png" alt="Project 3">
      <h2>Project 3 - Bug Smasher!</h2>
      <p>This project was a browswer based game where the player had to keep clicking on the bug with increasing speed for each click that hit!</p>
      <p>This project taught me a lot about JavaScript and the many ways it can be implemented into html.</p>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
