<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<!-- List of services -->
<main>
  <h1>Services:</h1>
  </br>
  <div class="services">
    <h2>Web Development</h2>
    <p>I will create an efficient and modern website to increase your online presence. </p>
  </div>
  <div class="services">
    <h2>Code Review</h2>
    <p>I will review your code to find bugs and help with proper documentation / structuring. </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>